@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;1,700&family=Sora:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    --primary-font: 'Sora', sans-serif;
    --secondary-font: 'Montserrat', sans-serif;

    --primary-color: #3600AA;
    --primary-color-light: #6119FC;
    --primary-color-dark: #3600AA;
    --primary-color-gr: #6119FC ;

    --secondary-color: #111111;

    --light-color: #E5E5E5;
    --grey-color: #dbdbdb;

}

body {
    background-color: var(--secondary-color);
    color: var(--light-color);
    font-size: 16px;
    font-family: var(--secondary-font);
    overflow-x: hidden;
}

img {
    max-width: 100%;
    display: block;
}

a {
    text-decoration: none;
    color: var(--light-color);
}

textarea {
    resize: none;
}

/* GENERAL ELEMENTS */

.container {
    /* display: flex; */
    max-width: 62.5rem;
    margin: 0 auto;
}

.title {
    font-family: var(--secondary-font);
    font-size: 3.75rem;
    margin: 2rem auto;
}

.title--underscore {
    position: relative;
    text-align: center;
}

.title--underscore::after {
    content: '';
    border-radius: 10px;
    width: 20%;
    height: 8px;
    background: var(--primary-color);
    bottom: 0;
    left: 40%;
    position: absolute;
    margin: 0 auto;
}

.primary-color-text {
    color: var(--primary-color);
}

.logo {
    width: min(max(120px, 5vw), 200px);
}

.logo.logo--center {
    margin: 2rem auto;
    z-index: 1;
    position: relative;
}

.warning {
    margin: 0 0 -1rem;
}


/* SPECIFIC STYLES */

.header {
    width: 100%;
    display: flex;
    align-items: space-between;
    padding: 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0 0 30px 30px;
    border-top: none;
}

.header__navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 0 auto;
}

.header__link-item {
    margin: 0 1rem;
}

.presentation {
    display: flex;
    overflow: hidden;
    /* grid-template-columns: 1fr 1fr 1fr; */
    /* gap: 5rem; */
}

.presentation__column1 {
    border-left: 10px solid var(--primary-color);
    padding: 0 0 0 1.5rem;
    margin-top: 3.75rem;
    max-height: 500px;
    width: 100%;
}

.presentation__column2 {
    margin-left: 3rem;
    width: 100%;

}

.presentation__column3 {
    display: flex;
    place-content: center;
    place-items: center;
    margin-top: 3.75rem;
    width: 100%;
    max-height: 460px;
}

.about {
    overflow: hidden;
    margin-top:6.25rem;
    position: relative;
}

.about .bubble-icon1,
.about .bubble-icon2 {
    z-index: 1;
    position: absolute;
}

.about .bubble-icon1 {
    top: -10%;
    right: -15%;
}

.about .bubble-icon2 {
    left: -2%;
}

.about .bubble-icon2, 
.about .bubble-icon1 circle {
    animation: bubble 8s infinite alternate-reverse;
}

@keyframes bubble {
    0% {
        transform: translate3d(0, 0, 0) scale(0.8);
    }

    50% {
        transform: translate3d(-2px, 5px, 0) scale(1) ;
    }

    100% {
        transform:translate3d(-7px, 9px, 0)  scale(1.09) ;
    } 
}

.about .about__title {
    text-align: center;
    z-index: 999;
    position: relative;
}

.about .about__content {
    max-width: 80%;
    margin: 0 auto 3.75rem;
    text-align: center;
    z-index: 999;
    position: relative;
}

.portfolio {
    margin: 6.25rem 0;
    position: relative;
    background: var(--primary-color-gr);
    padding: 2rem 0;
    overflow: hidden;
}

.portfolio__grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 400px));
    gap: calc(3.75rem + 2rem);
    margin: 3.75rem auto;
    justify-content: center;
}

.portfolio__grid > div {
    width: min(max(300px, 100vw), 18.75rem);
    height: min(max(300px, 100vw), 18.75rem);
}

.swiper-cards .swiper-slide {
    border-radius: .5rem

}

.swiper-slide.swiper-slide-visible.swiper-slide-active {
    border-radius: .5rem
}

.portfolio .bubble-icon1 {
    position: absolute;
    bottom: -10%;
    right: -1%;
}

.service__cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, 18.75rem);
    gap: 2rem;
    justify-content: center;
    width: 100%;
    margin: 0 0 2.5rem;
}

.service-card {
    margin: 2rem 0;
    width: 100%;
    text-align: center;
}

.service-card__img-container {
    width: 80%;
    border: 4px solid var(--primary-color);
    border-radius: .6rem;
    margin: 0 auto;
}

.service-card__img {
    width: 100%;
    object-fit: cover;
    border-radius: .6rem;
}

.service-card__title {
    font-family: var(--primary-font);
    margin: 1rem auto;
    font-size: 2.25rem;
    font-weight: 700;
}

.service-card__description {
    color: #cecece;
    margin: 1rem auto;
}

.service-card__btn {
    background: var(--primary-color);
    font-weight: bold;
    margin: 2rem 0;
    border-radius: .8rem;
    padding: .5rem 1rem;
    transition: all ease-in .3s;
}

.service-card__btn:hover {
    background: var(--primary-color-light);
}

.contact {
    background: var(--primary-color-gr);
    padding: 6.25rem 0;
    position: relative;
    overflow: hidden;
}

.contact .bubble-icon {
    position: absolute;
    top: -10%;
    right: -12%;
}

.contact .bubble-icon circle {
    animation: bubble 8s ease infinite alternate-reverse;
}

.form {
    display: flex;
    width: 100%;
    gap: 2rem;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.form__1column,
.form__2column  {
    width: 50%;
}

.form__input-label {
    display: block;
    color: var(--primary-color-dark);
}

.form__input-group {
    width: calc(100% - 1rem);
    margin: 1.25rem auto;
}

.form__input {
    width: 100%;
    border-radius: .6rem;
    background: var(--primary-color-dark);
    color: #fff;
    border: none;
    padding: .5rem;
    transition: all ease .05s;
    outline: var(--secondary-color) solid 0px;
}

.form__input:active, 
.form__input:focus {
    outline: var(--secondary-color) solid 2px;
}

textarea.form__input  {
    height:180px;
}

.footer {
    background: var(--primary-color-dark);
    padding: 2.25rem;
}

.footer .container {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.footer .footer__navigation {
    display: grid;
}

.footer .footer__navigation .footer__link-item {
    padding: .2rem .8rem;
    display: flex;
    border-radius: .4rem;
    align-items: center;
    transition: background .3s ease;
}

.footer .footer__navigation .footer__link-item:focus, 
.footer .footer__navigation .footer__link-item:hover {
    background: var(--secondary-color);
}

.footer__our-contact__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0 auto 1rem;
}

.footer__our-contacts {
    text-align: center;
    opacity: .8;
}

.footer__socials__title {
    font-size: 1.75rem;
    font-weight: 700;
    margin: 0 auto 1rem;
}

.footer__socials__icons {
    display: flex;
    gap: 1.875rem;
}

.footer__socials__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding: .8rem;
    border-radius: 50%;
    background: var(--primary-color-gr);
    transition: background ease .3s;
}

.footer__socials__icon:hover {
    background: var(--secondary-color);
}

.not-found {
    background: linear-gradient(180deg, #171717 23.92%, #3600AA 218.68%);
    height: 100vh;
    position: relative;
    overflow: hidden;
}

.not-found .not-found__container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.not-found__title {
    font-size: 2.375rem;
    font-weight: 700;
    font-family: var(--primary-font);
}

.not-found__404 {
    font-size: min(max(100px, 15vw + 1rem), 300px);
    font-weight: 700;
    font-family: var(--primary-font);
}

.not-found .not-found__btn {
    margin: 1rem 0;
    padding: .2rem .8rem;
    background: var(--primary-color);
    font-size: 1.25rem;
    border-radius: .6rem;
    transition: background ease .3s;
}

.not-found .not-found__btn:hover {
    background: var(--primary-color-gr);
}

.not-found .bubble-icon1 {
    position: absolute;
    top: -8%;
    right: -7%;
}

.not-found .bubble-icon2 {
    position: absolute;
    bottom: -14%;
    left: -8%;
}

.service-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-page .service-page__description {
    margin: 2rem auto;
    border-left: 4px solid var(--primary-color);
}

.service-page .service-page__btn {
    padding: .8rem 1rem;
    margin: 1rem auto 4rem;
    background: var(--primary-color);
    border-radius: .6rem;
}

.service-page .service-page__wpp-icon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.service-page .service-page__wpp-icon:hover i,
.service-page .service-page__wpp-icon:hover div {
    background: var(--primary-color-light);
}

.service-page__budget {
    background: var(--primary-color);
    padding: 1rem 1rem 1rem 1.5rem;
    border-radius: 0 10px 10px 0;
    margin-left: -15px;
}

.service-page .service-page__wpp-icon i {
    font-size: 2rem;
    transition: all ease-in .3s;
    background: var(--primary-color);
    padding: 1rem 1rem;
    border-radius: 50%;
}

.service-page__budget {
    transition: all ease-in .3s;
}

@media only screen and (max-width: 58.75rem) {

    .about .bubble-icon1 {
        right:-40%
    }

    .footer .container {
        justify-content: center;
        align-items: center;
    }

}

@media only screen and (max-width: 54.375rem) {

    .header {
        width: 80%;
    }

    .header__navigation {
        width: auto;
    }

    .presentation {
        max-width: 90%;
    }

    .presentation__column2 {
        display: none;
    }

}

@media only screen and (max-width: 54.375rem) {

    .header {
        width: 95%;
    }

    .title {
        font-size: 3rem;
    }

    .header__link-item {
        margin: 0 .5rem;
        font-size: .875rem;
    }

}

@media only screen and (max-width: 25rem) {

    .header {
        border: none;
    }

    .header__navigation {
        flex-direction: column;
        gap: 1rem;
    }

    .title {
        font-size: 2.25rem;
    }

    .presentation__column3 {
        width: 30%;
    }

    .about .bubble-icon1 {
        right: -80%;
    }

    .form__1column, .form__2column {
        z-index: 999;
    }
    
    .contact .bubble-icon {
        top: -16%;
        right: -40%;
    }
    
}
